/*a {
    display: block;
    width: 200px;
    height: 300px;
    background: url(../img/twitter.png) no-repeat 0 0;
}
a:hover {
    background: url(../img/tweet.png) no-repeat 0 0;
}*/


#button {
  /* ボタンの文字 */
  font: bold 20px "arial black", sans-serif;
  color: #760;
  /*リンクの下線を消す*/
  text-decoration: none;

  /* ボタンのレイアウト */
  position:relative;
  top: 180px;
  left: 120px;
  float: left;
  padding: 10px 20px;
  background-color: #FB0;

  /* ボックスシャドウ */
  box-shadow: 0 5px 2px #871, 0px 7px 10px #CCC;
  -webkit-box-shadow: 0 5px 2px #871, 0 7px 10px #CCC;
  -moz-box-shadow: 0 5px 2px #871, 0 7px 10px #CCC;

  /* 角を丸くする */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#button:hover {
  /* マウスオーバーの状態 */
  cursor: pointer;
  background-color: #FD4;
}

#button:active {
  /* クリック中の状態 */
  top: 183px;
  box-shadow: 0 2px 2px #871, 0 4px 10px #CCC;
  -webkit-box-shadow: 0 2px 2px #871, 0 4px 10px #CCC;
  -moz-box-shadow: 0 2px 2px #871, 0 4px 10px #CCC;
}


.zoom {
    display: block;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: middle center;
  -webkit-transform: scale(1);
  -webkit-animation-name: animation04;

}
@-webkit-keyframes animation04 {
  0%{
    -webkit-transform: scale(1);
    }
  70% {
    -webkit-transform: scale(1);

  }
  85% {
    -webkit-transform: scale(1.4);

  }
  100% {
    -webkit-transform: scale(1);
  }
}

